.module_menu_block {
    text-align: center;
    color: green;
}

#module_menu_horiz_menu_wrapper, #module_menu_vert_menu_wrapper {
    text-align: center;
    border-radius: 8px;
    border-width: 2px;
    border-color: #C9C9C9;
    border-style: solid;
    box-shadow: 5px 5px 5px #888;
    background-color: #FAFAFA;
}

.module_menu_btn {
    border-radius: 5px;
    border-width: 1px;
    border-color: #C9C9C9;
    border-style: solid;
    box-shadow: 2px 2px 2px #888;
    margin: 4px;
}

.module_menu_btn.active {
    border-color: #010101;
}

.module_menu_btn:hover {
    border-color: #424242;
}

#module_menu_position {
    text-align: center;
}

#module_menu_vert_menu_wrapper {
    width: 60px;
    height: 80%;
    min-height: 250px;
    position: fixed;
    left: 5px;
    top: 10%;
    z-index: 9999999;

}

#module_menu_horiz_menu_wrapper {
    width: 80%;
    min-width: 600px;
    position: fixed;
    top: 5px;
    margin-left: 10%;
    z-index: 9999999;
}

#module_menu_wrapper {
    margin: auto;
}

#module_menu_vert_menu_wrapper .module_menu_left {
    height: 5%;
}

#module_menu_vert_menu_wrapper .module_menu_right{
    height: 5%;
}
#module_menu_vert_menu_wrapper .module_menu_container{
    height: 90%;
    overflow: hidden;
}

#module_menu_horiz_menu_wrapper .module_menu_left {
    display: inline-block;
    float: left;
    width: 5%;
    height: 80px;
    vertical-align: middle;
    margin-top: 5px;
}

#module_menu_horiz_menu_wrapper .module_menu_container {
    width: 90%;
    white-space:nowrap;
    overflow: hidden;
    display: inline-block;
    float: left;
}



#module_menu_horiz_menu_wrapper .module_menu_right {
    display: inline-block;
    float: right;
    width: 5%;
    height: 80px;
    float: left;
    vertical-align: middle;
    margin-top: 5px;
}


#module_menu_horiz_menu_wrapper .module_menu_mod_wrap {
  width: 50px;
  display: inline-block;
}

.module_menu_mod_name {
    white-space:nowrap;
    overflow: hidden;
    font-stretch: ultra-condensed;
    font-size: xx-small;
    margin-top: 6px;
}

.module_menu_icon {
    width: 24px;
    height: 24px;
}

.module_menu_landing_pad {
    height: 24px;
    border-width: 1px;
    border-color: #010101;
    border-style: dashed;
    margin-bottom: 10px;
}

.module_menu_landing_pad_icon {
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 5px;
}

.module_menu_mod_wrap {
    margin: 5px;
    padding: 3px;
    border-radius: 3px;
    border-width: 2px;
    border-color: #C9C9C9;
    border-style: solid;
    box-shadow: 1px 1px 3px #888;
    min-width: 40px;
    z-index: 9999;
}

.module_menu_help {
    margin-top: 5px;
    border: 0px;
    border-top: 1px;
    border-color: #C9C9C9;
    border-style: solid;
}

.module_menu_img_hlp {
    border: 1px;
    border-color: #C9C9C9;
    border-style: solid;
}

.module_menu_icon {
    margin: 5px;
    margin-left: -8px;
}

.module_menu_mod_mov_icon {
    float: left;
}

.module_menu_help:hover {
    box-shadow: 1px 1px 3px #000;
}

.module_menu_help {
background: rgb(206,220,231); /* Old browsers */
background: -moz-linear-gradient(top, rgba(206,220,231,1) 0%, rgba(169,203,229,1) 70%, rgba(118,142,150,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(70%,rgba(169,203,229,1)), color-stop(100%,rgba(118,142,150,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(169,203,229,1) 70%,rgba(118,142,150,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(169,203,229,1) 70%,rgba(118,142,150,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(169,203,229,1) 70%,rgba(118,142,150,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(169,203,229,1) 70%,rgba(118,142,150,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#768e96',GradientType=0 ); /* IE6-9 */
}

#module_menu_horiz_menu_wrapper .module_menu_right span {
    display: inline-block;
}

#module_menu_horiz_menu_wrapper .module_menu_left span {
    display: inline-block;
}


